<div>
    {{#each options}}
        <a href="#{{link}}">
            <img src="{{this.image_url}}" id="{{ this.id }}" class="img-responsive" />
        </a>
    {{/each}}
    <a class="btn btn-default" href="#settingsPage">Settings</a>
</div>