<script>
    $(document).ready(function(){

        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: 1
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });

        //validateChangeDate("#birthDay");
        // get values form local storage
        var country = localStorage.getItem('country');
        var gender = localStorage.getItem('gender');
        var ethnicity = localStorage.getItem('ethnicity');
        var birthDay = localStorage.getItem('birthDay');
        var region = localStorage.getItem('region');
        var language = localStorage.getItem('language');

        if (birthDay == undefined) { 
            birthDay = $('#birthDay').val(); 
            localStorage.setItem('birthDay', birthDay); 
        }
        else { 
            birthDay = localStorage.getItem('birthDay'); 
            $('#birthDay').val(birthDay); 

        }

        $('input[type="text"]').change(function(){
            var birthDay = $('#birthDay').val(); 
            localStorage.setItem('birthDay', birthDay); 
        });

        $('#country').change(function(){ 
            var selected_option = $('#country option:selected').val(); 
            if(selected_option == "Kosovo"){ 
                $('.region').show(); 
            } 
            else { 
                $('.region').hide(); 
            } 
            var country_nm = $('#country option:selected').val(); 
            localStorage.setItem('country', country_nm); 
        });

        if (country == undefined) { 
            country = $('#country option:selected').val(); 
            localStorage.setItem('country', country); 
        }
        else { 
            country = localStorage.getItem('country'); 
            $('#country').val(country); 

        }
        if(country == "Kosovo"){
            $('.region').show();
        }
        else {
            $('.region').hide();
        }

        if (gender == undefined) { 
            gender = $('#gender option:selected').val(); 
            localStorage.setItem('gender', gender); 
        } else { 
            $('#gender').val(gender); 
        } 

        $('#gender').change(function() { 

            var gender = $('#gender option:selected').val(); 
            alert(gender);
            localStorage.setItem('gender', gender); 
        });

        if (ethnicity == undefined) { 
            ethnicity = $('#ethnicity option:selected').text(); 
            localStorage.setItem('ethnicity', ethnicity); 
        } else { 
            ethnicity = localStorage.getItem('ethnicity'); 
            $('#ethnicity').val(ethnicity); 
        }

        $('#ethnicity').change(function() {  
            var ethnicity = $('#ethnicity option:selected').val(); 
            localStorage.setItem('ethnicity', ethnicity); 
        });

        if (region == undefined) { 
            region = $('#region option:selected').text(); 
            localStorage.setItem('region', region); 
        } else { 
            region = localStorage.getItem('region'); 
            $('#region').val(region); 
        }

        $('#region').change(function() {  
            var region = $('#region option:selected').val(); 
            localStorage.setItem('region', region); 
        });

        if (language == undefined) { 
            language = $('#language option:selected').text(); 
            localStorage.setItem('language', language); 
        } else { 
            language = localStorage.getItem('language'); 
            $('#language').val(language); 
        }

        $('#language').change(function() { 
            var language = $('#language option:selected').val(); 
            localStorage.setItem('language', language); 
        }); 

    });
</script>
<div style="width:100%; background-color: #2E2C2D !important;">
	<div data-role="header" style="text-align:center; background-color: #1E1E1E; color: #fff;">
		<h1>Ec Shlirë</h1>
	</div>
	<div style="height:10px; background-color: yellow;"></div>
	<br><br>
	<div data-role="content" style="text-align:center;overflow-y: hidden !important;">
        <a href="#" data-icon="back" style="width:50%;float: left;">
            <i class="glyphicon glyphicon-chevron-left"></i><b>Back</b>
        </a>
        <br><br>
        <div class="form-group country">
            <label>Country</label>
            <select id="country" class="form-control">
                <option value="">Afghanistan</option>
                <option value="">Albania</option>
                <option value="">Algeria</option>
                <option value="">American Samoa</option>
                <option value="">Andorra</option>
                <option value="">Angola</option>
                <option value="">Antigua and Barbuda</option>
                <option value="">Argentina</option>
                <option value="">Armenia</option>
                <option value="">Aruba</option>
                <option value="">Australia</option>
                <option value="">Austria</option>
                <option value="">Azerbaijan</option>
                <option value="">Bahamas, The</option>
                <option value="">Bahrain</option>
                <option value="">Bangladesh</option>
                <option value="">Barbados</option>
                <option value="">Belarus</option>
                <option value="">Belgium</option>
                <option value="">Belize</option>
                <option value="">Benin</option>
                <option value="">Bermuda</option>
                <option value="">Bhutan</option>
                <option value="">Bolivia</option>
                <option value="">Bosnia and Herzegovina</option>
                <option value="">Botswana</option>
                <option value="">Brazil</option>
                <option value="">British Virgin Island</option>
                <option value="">Brunei</option>
                <option value="">Bulgaria</option>
                <option value="">Burkina Faso</option>
                <option value="">Burundi</option>
                <option value="">Cambodia</option>
                <option value="">Cameroon</option>
                <option value="">Canada</option>
                <option value="">Cape Verde</option>
                <option value="">Central African Republic</option>
                <option value="">Chad</option>
                <option value="">Chile</option>
                <option value="">China</option>
                <option value="">Colombia</option>
                <option value="">Comoros</option>
                <option value="">Congo, Democratic Republic of the</option>
                <option value="">Congo, Republic of the</option>
                <option value="">Costa Rica</option>
                <option value="">Cote d Ivoire</option>
                <option value="">Croatia</option>
                <option value="">Cuba</option>
                <option value="">Curacao</option>
                <option value="">Cyprus</option>
                <option value="">Czech Republic</option>
                <option value="">Denmark</option>
                <option value="">Djibouti</option>
                <option value="">Dominica</option>
                <option value="">Dominican Republic</option>
                <option value="">Ecuador</option>
                <option value="">Egypt</option>
                <option value="">El Salvador</option>
                <option value="">Equatorial Guinea</option>
                <option value="">Eritrea</option>
                <option value="">Estonia</option>
                <option value="">Ethiopia</option>
                <option value="">Falkland Islands</option>
                <option value="">Faroe Islands, Denmark</option>
                <option value="">Fiji</option>
                <option value="">Finland</option>
                <option value="">France</option>
                <option value="">French Guiana</option>
                <option value="">French Polynesia</option>
                <option value="">French Southern and Antarctic Lands</option>
                <option value="">Gabon</option>
                <option value="">Gambia, The</option>
                <option value="">Gaza Strip</option>
                <option value="">Georgia</option>
                <option value="">Germany</option>
                <option value="">Ghana</option>
                <option value="">Greece</option>
                <option value="">Greenland, Denmark</option>
                <option value="">Grenada</option>
                <option value="">Guadeloupe</option>
                <option value="">Guam</option>
                <option value="">Guatemala</option>
                <option value="">Guinea</option>
                <option value="">Guinea-Bissau</option>
                <option value="">Guyana</option>
                <option value="">Haiti</option>
                <option value="">Heard Island and McDonald Islands</option>
                <option value="">Honduras</option>
                <option value="">Hong Kong</option>
                <option value="">Hungary</option>
                <option value="">Iceland</option>
                <option value="">India</option>
                <option value="">Indonesia</option>
                <option value="">Iran</option>
                <option value="">Iraq</option>
                <option value="">Ireland</option>
                <option value="">Isle of Man</option>
                <option value="">Israel</option>
                <option value="">Italy</option>
                <option value="">Jamaica</option>
                <option value="">Japan</option>
                <option value="">Jordan</option>
                <option value="">Kazakhstan</option>
                <option value="">Kenya</option>
                <option value="">Kiribati</option>
                <option value="">Korea, North</option>
                <option value="">Korea, South</option>
                <option value="">Kosovo</option>
                <option value="">Kuwait</option>
                <option value="">Kyrgyzstan</option>
                <option value="">Laos</option>
                <option value="">Latvia</option>
                <option value="">Lebanon</option>
                <option value="">Lesotho</option>
                <option value="">Liberia</option>
                <option value="">Libya</option>
                <option value="">Liechtenstein</option>
                <option value="">Lithuania</option>
                <option value="">Luxembourg</option>
                <option value="">Macau</option>
                <option value="">Macedonia</option>
                <option value="">Madagascar</option>
                <option value="">Malawi</option>
                <option value="">Malaysia</option>
                <option value="">Maldives</option>
                <option value="">Mali</option>
                <option value="">Malta</option>
                <option value="">Marshall Islands</option>
                <option value="">Martinique</option>
                <option value="">Mauritania</option>
                <option value="">Mauritius</option>
                <option value="">Mexico</option>
                <option value="">Micronesia</option>
                <option value="">Moldova</option>
                <option value="">Monaco</option>
                <option value="">Mongolia</option>
                <option value="">Montenegro</option>
                <option value="">Morocco</option>
                <option value="">Mozambique</option>
                <option value="">Myanmar</option>
                <option value="">Namibia</option>
                <option value="">Nauru</option>
                <option value="">Nepal</option>
                <option value="">Netherlands</option>
                <option value="">Netherlands Antilles</option>
                <option value="">New Caledonia</option>
                <option value="">New Zealand</option>
                <option value="">Nicaragua</option>
                <option value="">Niger</option>
                <option value="">Nigeria</option>
                <option value="">Northern Mariana Islands</option>
                <option value="">Norway</option>
                <option value="">Oman</option>
                <option value="">Pakistan</option>
                <option value="">Palau</option>
                <option value="">Palestine</option>
                <option value="">Panama</option>
                <option value="">Papua New Guinea</option>
                <option value="">Paraguay</option>
                <option value="">Peru</option>
                <option value="">Philippines</option>
                <option value="">Poland</option>
                <option value="">Portugal</option>
                <option value="">Puerto Rico</option>
                <option value="">Qatar</option>
                <option value="">Reunion</option>
                <option value="">Romania</option>
                <option value="">Russia</option>
                <option value="">Rwanda</option>
                <option value="">Saint Helena</option>
                <option value="">Saint Kitts and Nevis</option>
                <option value="">Saint Lucia</option>
                <option value="">Saint Vincent and the Grenadines</option>
                <option value="">Samoa</option>
                <option value="">San Marino</option>
                <option value="">Sao Tome and Principe</option>
                <option value="">Saudi Arabia</option>
                <option value="">Senegal</option>
                <option value="">Serbia</option>
                <option value="">Seychelles</option>
                <option value="">Sierra Leone</option>
                <option value="">Singapore</option>
                <option value="">Sint Maarten</option>
                <option value="">Slovakia</option>
                <option value="">Slovenia</option>
                <option value="">Solomon Islands</option>
                <option value="">Somalia</option>
                <option value="">South Africa</option>
                <option value="">South Georgia and the South Sandwich Islands</option>
                <option value="">South Sudan</option>
                <option value="">Spain</option>
                <option value="">Sri Lanka</option>
                <option value="">Sudan</option>
                <option value="">Suriname</option>
                <option value="">Swaziland</option>
                <option value="">Sweden</option>
                <option value="">Switzerland</option>
                <option value="">Syria</option>
                <option value="">Taiwan</option>
                <option value="">Tajikistan</option>
                <option value="">Tanzania</option>
                <option value="">Thailand</option>
                <option value="">Timor-Leste</option>
                <option value="">Togo</option>
                <option value="">Tonga</option>
                <option value="">Trinidad and Tobago</option>
                <option value="">Tunisia</option>
                <option value="">Turkey</option>
                <option value="">Turkmenistan</option>
                <option value="">Turks and Caicos Islands</option>
                <option value="">Tuvalu</option>
                <option value="">Uganda</option>
                <option value="">Ukraine</option>
                <option value="">United Arab Emirates</option>
                <option value="">United Kingdom</option>
                <option value="">United States</option>
                <option value="">Uruguay</option>
                <option value="">Uzbekistan</option>
                <option value="">Vanuatu</option>
                <option value="">Venezuela</option>
                <option value="">Vietnam</option>
                <option value="">Western Sahara</option>
                <option value="">Yemen</option>
                <option value="">Zambia</option>
                <option value="">Zimbabwe</option>
            </select>
        </div>
        <div class="form-group">
            <label>Gender</label>
            <select class="form-control" id="gender">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label>Ethnicity</label>
            <select class="form-control" id="ethnicity">
                <option>Albanian</option>
                <option>Bosnian</option>
                <option>Romani</option>
                <option>Serbian</option>
                <option>Turkish</option>
                <option>Other</option>
            </select>
        </div>
        <div class="form-group">
            <label>Date of birth</label>
            <input class="form-control datepicker" type="text" id="birthDay">
        </div>
        <div class="form-group region">
            <label>Region/City</label>
            <select class="form-control" id="region">
                <option>Deçan</option>
                <option>Dragash</option>
                <option>Ferizaj</option>
                <option>Fushë Kosovë</option>
                <option>Gjakova</option>
                <option>Gjilan</option>
                <option>Gllogoc/Drenas</option>
                <option>Gracanicë</option>
                <option>Hani i Elezit</option>
                <option>Istog</option>
                <option>Junika</option>
                <option>Kamenicë/Dardanë</option>
                <option>Kaçanik</option>
                <option>Klinë</option>
                <option>Kllokot</option>
                <option>Leposaviq</option>
                <option>Lipjan</option>
                <option>Malishevë</option>
                <option>Mamushë</option>
                <option>Mitrovica Veriore</option>
                <option>Mitrovicë</option>
                <option>Novobërdë</option>
                <option>Obiliq/Kastriot</option>
                <option>Partesh</option>
                <option>Pejë</option>
                <option>Podujevë</option>
                <option>Prishtinë</option>
                <option>Prizren</option>
                <option>Rahovec</option>
                <option>Ranillug</option>
                <option>Shtime</option>
                <option>Shtërpcë</option>
                <option>Skënderaj</option>
                <option>Suharekë</option>
                <option>Viti</option>
                <option>Vushtrri</option>
                <option>Zubin Potoku</option>
            </select>
        </div>
        <div class="form-group">
            <label>Language</label>
            <select class="form-control" id="language">
                <option value="Shqip">Shqip</option>
                <option value="Srpski">Srpski</option>
                <option value="English">English</option>
            </select>

        </div>
	</div>
</div>