<script>
    $(document).ready(function(){

        // Configure jquery to allow ajax requests through cross-domains
        $.support.cors = true;

        $('#reportButton').click(function(){

            // Build Json
            var data = {
                profile_information: {
                    'anonymity': true
                },
                description: $('#longDesc').val(),
                harassment_type: $('#harassmentType').val(),
                location: {
                    harassment_location: $('#location').val(),
                }
            };

            // Execute post request to the API server
            $.ajax({
                type: "POST",
                url: "http://192.168.2.213:5000/api/harassment/save",
                crossDomain: true,
                beforeSend : function() {$.mobile.loading('show')},
                complete   : function() {$.mobile.loading('hide')},
                contentType: "application/json; charset=UTF-8", // charset is to properly retrieve special  characters
                data: JSON.stringify(data),
                success: function(respData){
                    alert("Hoooorray!!!");
                },
                error      : function(error) {
                    alert(JSON.stringify(error));
                }
            });
        });
    });
</script>
<div style="width:100%" id="index">
	<div data-role="header" style="text-align:center; background-color: #1E1E1E; color: #fff;">
		<h1>Ec Shlirë</h1>
	</div>
	<div style="height:10px; background-color: yellow;"></div>
	<br><br>
	<div data-role="content" style="text-align:center;">

        <form class="form-horizontal" role="form">
            <input type="hidden" id="location" value="{{location}}">
            <input type="hidden" id="harassmentType" value="{{harassment_type}}">
            <div class="form-group">
                <div class="col-lg-10">
                    <textarea id="longDesc" class="form-control" name="longDesc" rows="30" cols="17" placeholder="Long Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="button" id="uploadPic" class="btn btn-success">Upload Photo</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="button" id="reportButton" class="btn btn-success">Report!</button>
                </div>
            </div>
        </form>
	</div>
</div>