<script >
    $( document ).bind( "mobileinit", function() {

        // Make your jQuery Mobile framework configuration changes here!
        $.support.cors = true;
        $.mobile.allowCrossDomainPages = true;
    });
    $(document).ready(function(){
        $('#signUpButton').click(function(){

            $.ajax({
                type       : "POST",
                url        : "http://0.0.0.0:5000/api/harassment/save",
                crossDomain: true,
                beforeSend : function() {$.mobile.loading('show')},
                complete   : function() {$.mobile.loading('hide')},
                data       : {username : 'endrit', password : 'bytyqi'},
                dataType   : 'json',
                success    : function(response) {
                    alert('Works!');
                },
                error      : function() {
                    alert('Now working!');
                }
            });
        });
    });
</script>
<div style="width:100%">
	<div data-role="header" style="text-align:center; background-color: #1E1E1E; color: #fff;">
		<h1>Ec Shlirë</h1>
	</div>
	<div style="height:10px; background-color: yellow;"></div>
	<br><br>
	<div data-role="content" style="text-align:center;">
        {{location}}
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="shortDesc" name="shortDesc" placeholder="Short Description"/>
                    <span class="help-block hidden"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10">
                    <input type="textarea" class="form-control" id="longDesc" name="longDesc" placeholder="Long Description"/>
                    <span class="help-block hidden"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="button" id="uploadPic" class="btn btn-success">Upload Photo</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="button" id="signUpButton" class="btn btn-success">Report!</button>
                </div>
            </div>
        </form>
	</div>
</div>