<script>
    $(document).ready(function(){
        $('#continueBtn').click(function(){
            localStorage.setItem("harassTypes", selected_array);
        });

        selected_array = [];

        $(".btnImg").on("tap",function(){
          var element_id = $(this).attr("id");
          var element_name = $(this).attr("name");
          var styling = $(this).attr("style");

            if( styling != "width:85%;" ) {
               $("#" + element_id).attr("style", "width:85%;");
                // drop array's values is it is untapped
                selected_array.splice( $.inArray(element_name, selected_array), 1);
            }
            else {
               $("#" + element_id).css({
                    "border-color": "#f91f61",
                    "border-width":"3px",
                    "border-style":"solid"
                });

                // populate array with values
                selected_array.push(element_name);
            }

        });
    });
</script>
<style>
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #201d1d !important;
}
.harassTypes, .harassTypes > div {
    background-color: #2E2C2D !important;
}
.ui-page{
    background-color: #2E2C2D !important;
}
.harassType:nth-child(4n+1){
    clear:left
}
</style>
<div style="width:100%; background-color: #2E2C2D;">
    <div class="row">
        <a href="#settingsPage" class="col-xs-4 btn" style="background-color: #201d1d; color:white;">
            Settings
        </a>
        <div data-role="header" class="col-xs-4" style="text-align:center; border: 0; background-color: #201d1d !important; color: #fff;">
            <h1>Ec Shlirë</h1>
        </div>
        <a href="#" data-icon="back" class="col-xs-4 btn" style="background-color: #201d1d; color:white;">
            <i class="glyphicon glyphicon-chevron-left"></i><b>Back</b>
        </a>
    </div>

    <div style="height:5px; background-color: #9C1A1C !important;"></div>
    <br>
    <div class="form-group harassTypes">
        <label class="control-label col-xs-6 left" style="color: white;">What happened?</label><label class="control-label col-xs-6" align="right" style="color: white;">Step 1/4</label>
    </div>

	<div data-role="content" class="row harassTypes" id="harssments" style="text-align:center; margin-top:-10px;">
        {{#each options}}
        <div class="col-xs-3 harassType">
            <img class="img-responsive btnImg" style="width:85%;" name="{{name}}" id="{{ id }}" src="{{ image_url }}"/>
            <h5 style="color: white;">{{ name }}</h5>
        </div>
        {{/each}}
	</div>
    <div class="form-group harassTypes">
        <div class="col-lg-offset-2 col-lg-10">
            <a class="btn btn-default col-xs-offset-4 col-xs-4" href="#perpetratorTypes" id="continueBtn" style="border-color:white !important;color: white !important; background-color: #2E2C2D !important;">Continue</a>
        </div>
    </div>
    <div class="footer">
        <div class="col-xs-4" style="">
            <a class="btn" style="background-color: #201d1d; color:white;">112</a>
        </div>
        <div class="col-xs-offset-4 col-xs-4" style="">
            <a class="btn" style="background-color: #201d1d; color:white;">Light</a>
        </div>
    </div>
</div>
