<script>
    $(document).ready(function(){

        // Configure jquery to allow ajax requests through cross-domains
        $.support.cors = true;
        var country = localStorage.getItem('country');
        var gender = localStorage.getItem('gender');
        var ethnicity = localStorage.getItem('ethnicity');
        var birthDay = localStorage.getItem('birthDay');
        var region = localStorage.getItem('region');
        var language = localStorage.getItem('language');
        //alert([country, gender, ethnicity, birthDay, region, language].toString());
        $('#reportButton').click(function(){
            var harassType = localStorage.getItem('harassTypes');
            // Build Json
            var dummy = {
                "story": "My colleague gave me an awkward greeting in the morning, with excessive kisses and hugs.",
                "type": ["Kissing", "Touching"]
            };
            var data = {
                profile_information: {
                    'anonymity': true
                },
                description: $('#longDesc').val(),
                harassment_type: harassType,
                location: {
                    harassment_location: $('#location').val(),
                }
            };

            // Execute post request to the API server
            $.ajax({
                type: "POST",
                url: "http://ecshlire.com/api/harassment/report",
                crossDomain: true,
                beforeSend : function() {$.mobile.loading('show')},
                complete   : function() {$.mobile.loading('hide')},
                contentType: "application/json; charset=UTF-8", // charset is to properly retrieve special  characters
                data: JSON.stringify(dummy),
                success: function(respData){
                    alert("Hoooorray!!!");
                },
                error: function(error) {
                    alert(JSON.stringify(error));
                }
            });

        });
    });

</script>
<style>
    #longDesc{
        resize:none;
        height: 170px !important;
    }
    #location{
        margin-top: 20px !important;
    }
    #btnSub{
        margin-top: 30px !important;
    }
    #reportButton{
        border-color:white !important;
        color: white !important;
        background-color: #2E2C2D !important;
    }
</style>

<div style="width:100%">
	<div data-role="header" style="text-align:center; background-color: #201d1d; color: #fff;">
		<h1>Ec Shlirë</h1>
	</div>div>
    <div style="height:5px; background-color: #9C1A1C !important;"></div>
	<br><br>
    <div class="form-group harassTypes">
        <label class="control-label col-xs-6 left" style="color: white;">How did it happen?</label><label class="control-label col-xs-6" align="right" style="color: white;">Step 4/4</label>
    </div>
	<data-role="content" style="text-align:center;"er;">
        <form class="form-horizontal" role="form">
            <input type="hidden" id="location" value="{{location}}">
            <input type="hidden" id="harassmentType" value="">
            <div class="row col-lg-10">
                <textarea id="longDesc" class="field span12 text" name="longDesc" placeholder="Story..."></textarea>
            </div>
            <div class="form-group" id="location">
                 <div class="btn-group col-xs-4" data-toggle="buttons">
                    <div class="btn btn-default col-xs-6">
                        <input type="radio" name="options" id="option1" checked> Yes
                     </div>
                    <div class="btn btn-default col-xs-6">
                        <input type="radio" name="options" id="option1"> No
                     </div>
                </div>
                <label class="col-xs-8 text-left control-label" style="padding-top: 5px !important; color: white;">Submit My Location</label>
            </div>

            <div class="form-group" id="btnSub">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="button" id="reportButton" class="btn btn-success">Report!</button>
                </div>
            </div>
        </form>
	</div>
</div>