<script>
    $(document).ready(function(){
        $('#continueBtn').click(function(){
            localStorage.setItem("harassTypes", selected_array);
        });

        selected_array = [];

        $(".btnImg").on("tap",function(){
            var element_id = $(this).attr("id");
            var element_name = $(this).attr("name");
            var img_source = $("#" + element_id).attr("src");

            if( $("#" + element_id).hasClass("selected") ) {

                // remove class
                $("#" + element_id).removeClass("selected");

                // change background
                var new_img_src = img_source.replace('_a.png', '.png');
                $("#" + element_id).attr("src", new_img_src);

                // drop array's values is it is untapped
                selected_array.splice( $.inArray(element_name, selected_array), 1);

            }
            else {
                // Add class to element
                $("#" + element_id).addClass("selected");

               // change image source
               var new_img_src = img_source.replace('.png', '_a.png');
               $("#" + element_id).attr("src", new_img_src);

                // populate array with values
                selected_array.push(element_name);
            }

        });
    });
</script>
<style>
.harassTypes, .harassTypes > div {
    background-color: #363636 !important;
}
.ui-page{
    background-color: #363636 !important;
}
.harassType:nth-child(4n+1){
    clear:left
}
</style>
<div class="main">
   <div style="height:5px; width:100%;background-color: #eb1a51 !important;">
    <br>
    <div class="form-group harassTypes">
        <label class="control-label col-xs-6 left" style="color: white;">What happened?</label><label class="control-label col-xs-6" align="right" style="color: white;">Step 1/4</label>
    </div>
	<div class="row harassTypes" id="harssments" style="text-align:center; height: 80%;">
        {{#each options}}
        <div class="col-xs-3 harassType">
            <img class="img-responsive btnImg" style="border-style:none !important;width:85%;" name="{{name}}" id="{{ id }}" src="{{ image_url }}"/>
            <label class="control-label" style="color: white;font-size: 10px;">{{ name }}</label>
        </div>
        {{/each}}
	</div>
    <div class="form-group harassTypes">
        <div class="col-lg-offset-2 col-lg-10">
            <a class="btn btn-default col-xs-offset-4 col-xs-4" href="#perpetratorTypes" id="continueBtn" style="border-color:white !important;color: white !important; background-color: #2E2C2D !important;">Continue</a>
        </div>
    </div>
</div>
