<script>
    $(document).ready(function(){

    });
</script>
<style>

</style>
<div class="main">
    <div style="height:5px; width:100%; background-color: #eb1a51 !important;"></div>
    {{#each options}}
        <a href="#{{link}}">
            <img src="{{image_url}}" id="{{ id }}" class="img-responsive"  style="width: 100%; height: 16%;"/>
        </a>
    {{/each}}
</div>