<div style="width:100%">
	<div data-role="header" style="text-align:center; background-color: #1E1E1E; color: #fff;">
		<h1>Ec Shlire</h1>
	</div>
	<div style="height:10px; background-color: yellow;"></div>
	<br><br>
	<div data-role="content" style="text-align:center;">
		<div style="margin: 0 auto; width: 50%;">
			<a href="#" data-icon="back" style="width:50%" class="back">
				<img class="img-circle" style="width:40%" src="https://image.freepik.com/free-icon/back-button-circle_318-67964.png">
			</a>
			<h5>{{ search_label }}</h5>
		</div>
	</div>
</div>