{{#each options}}
	<div class="col-sm-6">
		<input type="image" style="border: 1px solid black;" id="{{ id }}" src="{{ image_url }}" class="img-circle">
		<h1>{{ name }}</h1>
		<br><br><br>
	</div>
{{/each}}