<div style="width:100%">
	<div data-role="header" style="text-align:center; background-color: #1E1E1E; color: #fff;">
		<h1>Ec Shlirë</h1>
	</div>
	<div style="height:10px; background-color: yellow;"></div>
	<br>
	<div data-role="content" style="text-align:center; margin-top:-10px;">
		{{#each options}}
				<div style="width:50%; float: left; ">
					<a href="#page1" style="width:50%;">
						<img class="image img-circle" style="width:75%; border: 0.1em dotted black;" id="{{ id }}" src="{{ image_url }}">
						<h5>{{ name }}</h5>
					</a>
					<hr>
				</div>
		{{/each}}
	</div>
</div>